$govuk-assets-path: "/guidance/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/guidance/assets/lib/hmrc-frontend/hmrc/assets/";

$govuk-global-styles: true;

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

// Task name within task list; constrain width to 75%
.app-task-list__task-name {
  display: block;
  @include govuk-media-query($from: 450px) {
    float: left;
    width: 75%;
  }
}
